.work_history_container {
  text-align: center;
  font-family: "poppins";
  border-bottom: 4px solid #a47e3b;
  background-color: white;
}
.wh_title {
  justify-content: center;
  font-family: "poppins";
  font-size: 30px;
  color: #a47e3b;
  border-bottom: 2px solid #a47e3b;
  margin: 0 450px 0 450px;
}
.work_sipho {
  display: flex;
  margin-left: -150px;
}
.work_image {
  z-index: 99;
  top: 0;
}
.work_cover {
  margin-left: -70px;
}
.psg_cover {
  margin-top: 20px;
  display: flex;
}
.psg_image {
  margin-right: 50px;
  top: 1;
  z-index: 1;
}
.psg_text {
  justify-content: flex-start;
  text-align: left;
  color: #a47e3b;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .work_history_container {
    font-size: 2.5rem;
  }
}
