.nav_container {
  display: flex;
  justify-content: center;
  background-color: #a47e3b;
  color: #06283d;
  position: sticky;
  top: 0;
  z-index: 100;
}
.active {
  margin: 10px;
  font-size: medium;
  font-family: 500;
  font-family: "poppins";
  text-decoration: none;
}
