.nav_container {
  display: flex;
  justify-content: center;
  background-color: #a47e3b;
  position: sticky;
  top: 0;
  z-index: 100;
}
.active {
  margin: 10px;
  font-size: 15px;
  font-family: 500;
  color: #06283d;
  font-family: "poppins";
  text-decoration: none;
}
.active:hover {
  cursor: pointer;
  color: #a10035;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .active {
    font-size: 0.4rem;
  }
}
