.footer {
  justify-content: center;
  text-align: center;
  margin: 0;
}
.creator {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-seri;
  background-color: #2c3333;
  color: grey;
  margin: 0;
}
@media (max-width: 991px) {
  .creator {
    font-size: x-small;
  }
}
