.contact_me_container {
  padding-bottom: 55px;
  border-bottom: 4px solid #a47e3b;
  background-color: #06283d;
}
.form {
  justify-content: center;
  text-align: center;
}
.contact_title {
  justify-content: center;
  text-align: center;
  font-family: "poppins";
  font-size: 30px;
  color: #a47e3b;
  border-bottom: 2px solid #a47e3b;
  margin: 0 450px 0 450px;
}
.mb-3 {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: "poppins";
}
.active {
  width: 500px;
  height: 50px;
  padding-left: 10px;
  border: 2px solid #a47e3b;
}

.form-message {
  width: 500px;
  height: 200px;
  padding-left: 10px;
  font-size: 18px;
  border: 2px solid #a47e3b;
}
.btn-submit {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-family: "poppins";
  font-size: 30px;
  font-weight: 600;
  border: none;
  background-color: #a47e3b;
}
@media (max-width: 991px) {
  .active {
    width: 200px;
    height: auto;
  }
  .contact_title {
    font-size: medium;
    align-items: center;
    justify-content: center;
  }
}
